
td {
    border: 1px solid #333;
    width: 4em;
    height: 4em;
}

table
{
    border-collapse: collapse;
    border: 1px solid #333;
}

.blue
{
    background-color: blue;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}

.purple
{
    background-color: purple;
}

.pink
{
    background-color: pink;
}

.yellow
{
    background-color: yellow;
}

.black
{
    background-color: black;
}

.white
{
    background-color: white;
}

.orange
{
    background-color: orange;
}

.brown
{
    background-color: brown;
}

.test
{
    background-color: #ff0000;
    width: 4em;
    height: 4em;
}